<div class="container">
  <div class="logo">
    <img src="../../../assets/LogoUlisse.png" alt="Logo">
  </div>
  <form [formGroup]="forgotForm">
    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Email</mat-label>
      <input matInput formControlName="Email" placeholder="Email" required>
    </mat-form-field>
    <div *ngIf="submitted && f2['Email'].errors" class="text-danger">
      <div *ngIf="f2['Email'].errors['required']">Email obbligatoria</div>
      <div *ngIf="f2['Email'].errors['pattern']">Email errata</div>
    </div>
  </form>
  <button class="login-btn" mat-button (click)="forgotPassword()">Reimposta password</button>
  <div class="register-link" class="blue">
    Torna alla <a routerLink="/login">login</a>
  </div>
</div>
