<nav *ngIf="authService.showMenu" class="navBar">
  <ul class="container-li">
    <li>
      <div class="container-titleProj">
        <a routerLink="/overview" style="text-decoration: none;"><span class="title-Proj">INVENTARIO 4.0</span></a>
      </div>
    </li>
    <li style="color: white; font-size: 25px;">|</li>
    <!-- <li><a routerLink="/overview" class="nav-link">Overview</a></li> -->
    <li><a routerLink="/componenti" class="nav-link">Componenti</a></li>
    <li><a routerLink="/OTP" class="nav-link">OTP</a></li>
  </ul>
  <ul>
    <li class="container-infoUser-logout">
      <span class="userInfo"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="orange">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="authService.logout()">
          <mat-icon class="orange">exit_to_app</mat-icon>
          Log Out
        </button>
      </mat-menu>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
