.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 100px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 230px;
  height: 100px;
}

.forgot-password {
  font-size: 12px;
  text-align: right;
  margin-top: -10px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #EA861B;
  border: none;
  color: white !important;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px 0px 10px 0px
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.inputField{
  width: 100%;
}

.text-danger{
  color: red;
  font-size: medium;
  font-weight: 500;
  margin-top: -18px;
  margin-bottom: 15px;
}
