<mat-dialog-content>

  <div class="container-header">
    <span class="titleDialog">Nuova componente</span>
    <span class="subtitle">Inserisci i dati per una nuova componente</span>
  </div>

  <div class="container-fileUpload">

    <div class="container-image">
      <img mat-card-image [src]="imagePreview" alt="Immagine della componente" onError="this.src='assets/no-image.jpg'" class="img-componente">
    </div>

    <label for="upload" class="file-upload-label">
      <span class="file-upload-text">Seleziona un'immagine</span>
      <input type="file" id="upload" class="file-upload" (change)="takeImage($event)">
    </label>

    <div *ngIf="imageError" class="container-text-danger">
      <span class="text-danger">
        Il formato dell'immagine non è supportato
      </span>
    </div>

  </div>

  <mat-divider style="width: 100%; margin-top: 20px;"></mat-divider>

  <form [formGroup]="componenteForm" style="margin-top: 20px;">

    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="Nome" placeholder="Nome" required>
    </mat-form-field>
    <div *ngIf="submitted && f2['Nome'].errors" class="container-text-danger">
      <mat-icon style="color: white;">new_releases</mat-icon>
      <div *ngIf="f2['Nome'].errors['required']" class="text-danger">Nome obbligatorio</div>
    </div>

    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Descrizione</mat-label>
      <textarea matInput formControlName="Descrizione" placeholder="Descrizione" required></textarea>
    </mat-form-field>
    <div *ngIf="submitted && f2['Descrizione'].errors" class="container-text-danger">
      <mat-icon style="color: white;">new_releases</mat-icon>
      <div *ngIf="f2['Descrizione'].errors['required']" class="text-danger">Descrizione obbligatoria</div>
    </div>

    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Codice</mat-label>
      <input matInput formControlName="Codice" placeholder="Codice" required>
    </mat-form-field>
    <div *ngIf="submitted && f2['Codice'].errors" class="container-text-danger">
      <mat-icon style="color: white;">new_releases</mat-icon>
      <div *ngIf="f2['Codice'].errors['required']" class="text-danger">Codice obbligatorio</div>
    </div>

    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Quantità</mat-label>
      <input matInput type="number" formControlName="Qty" placeholder="Quantità" required>
    </mat-form-field>
    <div *ngIf="submitted && f2['Qty'].errors" class="container-text-danger">
      <mat-icon style="color: white;">new_releases</mat-icon>
      <div *ngIf="f2['Qty'].errors['required']" class="text-danger">Quantità obbligatoria</div>
    </div>

    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Prezzo (A pezzo)</mat-label>
      <input matInput type="number" formControlName="Prezzo" placeholder="0">
      <span matTextPrefix>€&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
    <div *ngIf="submitted && f2['Prezzo'].errors" class="container-text-danger">
      <mat-icon style="color: white;">new_releases</mat-icon>
      <div *ngIf="f2['Prezzo'].errors['required']" class="text-danger">Prezzo obbligatorio</div>
    </div>

  </form>
  <div class="container-button-actions">
    <button mat-raised-button [mat-dialog-close]="">Annulla</button>
    <button mat-raised-button class="button-orange" (click)="addComponente()">Aggiungi</button>
  </div>
</mat-dialog-content>
