/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.orange{
  color: #EA861B;
}

.blue{
  color: #1F3E5C
}

.title{
  font-size: 30px;
  font-weight: bold;
  color: #EA861B
}

.subtitle{
  color: rgba(165, 163, 163, 0.699);
  margin-left: 2px;
}

